URL_STATIC=/static # URL für statische Dateien

DB_HOST=localhost # Am besten IP von dem Pi
DB_PORT=3306 # Standardport für MySQL
DB_USER=root # Benutzername für die Datenbank
DB_PASSWORD=root123 # Passwort für die Datenbank
DB_NAME=schema123 # Name des Schemas